.custom-border {
  position: relative;
  /*   overflow: hidden; */
}

.custom-border::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  clip-path: polygon(
    0% 0%,
    /* Слева вверху */ 100% 0%,
    /* Справа вверху */ 100% calc(100% - 100px),
    /* Справа почти до низа */ calc(50% + 200px) calc(100% - 100px),
    /* Чуть выше середины снизу под углом 45 градусов */ 50% 100%,
    /* Середина снизу */ 0% 100% /* Слева внизу */
  );
  z-index: -1;
}
