.custom-border {
  border-bottom: 1px solid #e5e5e5;
}

nav {
  width: 100%;
}

.group:hover .group-hover\\:block {
  display: block;
}

@media (max-width: 1550px) {
  .custom-border {
    border-bottom: none;
  }
}

.burger-icon {
  transition: stroke 0.3s ease;
}

.burger-icon:hover path {
  stroke: #36be26;
}
