.swiper-pagination-bullet {
  border-radius: 0;
  width: 18px;
  height: 18px;
  background-color: #667760;
  opacity: 1;
  margin: 0 9px !important;
  position: relative;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid transparent;
  border-radius: 0;
  transition: border-color 0.3s ease;
}

.swiper-pagination-bullet:hover::before {
  border-color: #8ae54d;
}

.swiper-pagination-bullet-active {
  background-color: #509d31;
}

.swiper-wrapper {
  height: 375px;
}

.swiper-pagination-bullets {
  top: 350px !important;
}
